.navbar.navbar-expand{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  //transition: all 0.5s;
  border-bottom: 2px solid rgba(158, 158, 158, 0.5);
  //
  display: flex;
  justify-content: space-between !important;
  margin-bottom: 10px;


  .page-menu{
    float: right;
  }

}

.background_logo {
  background: url('/assets/images/logo.png') center center/100% 100% no-repeat;
  display:inline-block;
}
