<div class="block-header">
  <h1>Machine Setting</h1>
</div>

<div class="row" *ngIf="machine != null">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Colorant Machine {{ machine.name + '(' + machine.code + ')'}}

        <ng-container *ngIf="! openSetting">
          <button class="close" (click)="openSettingMachine()"><i class="fas fa-sliders-h"></i></button>
        </ng-container>

        <ng-container *ngIf="openSetting">
          <button class="close" (click)="closeSettingMachine()"><i class="fas fa-window-close"></i></button>
        </ng-container>
      </div>

      <div class="card-body">
        <div class="machine-colourant-group" [attr.actionType]="openSetting ? 'open-setting': ''">
          <div class="machine-background">
            <ng-container *ngIf="openSetting == true">
              <div class="machine-background-setting">
                <mat-slider class="machine-range-slider" [tickInterval]="100 / 20" [max]="maxQuantity" [min]="0" [step]="50" [(ngModel)]="warningQuantity" [vertical]="true" [thumbLabel]="true" (change)="updateMachineDataSlider('warning')"></mat-slider>
                <mat-slider class="machine-range-slider" [tickInterval]="100 / 20" [max]="maxQuantity" [min]="0" [step]="50" [(ngModel)]="minQuantity" [vertical]="true" [thumbLabel]="true" (change)="updateMachineDataSlider('min')"></mat-slider>
              </div>
            </ng-container>

            <span class="machine-colourant-max-range" [ngStyle]="{'height': '100%'}"><span class="step-label">{{maxQuantity}}</span></span>
            <span class="machine-colourant-warning-range" [ngStyle]="{'height': (warningQuantity / maxQuantity) * 100 + '%'}"><span class="step-label">{{warningQuantity}}</span></span>
            <span class="machine-colourant-min-range" [ngStyle]="{'height': (minQuantity / maxQuantity) * 100 + '%'}"><span class="step-label">{{minQuantity}}</span></span>
            <span class="machine-colourant-zero-range" [ngStyle]="{'height': '0%'}"><span class="step-label">0</span></span>
          </div>

          <ng-container *ngFor="let machineColourant of listMachineColourant">
            <div class="machine-colourant-item" (click)="selectMachineColourant(machineColourant.colourant.colourantId)">
              <span *ngIf="selectedMachineColourant != null && selectedMachineColourant.colourant.colourantId == machineColourant.colourant.colourantId" class="selected-colourant-bgr"></span>
              <span class="machine-colourant-bgr">
                <span class="machine-colourant-current-range" [ngStyle]="{'height': (machineColourant.quantity / maxQuantity) * 100 + '%', 'background-color': machineColourant.colourant.rbgHex, 'border': '1px solid #' + machineColourant.colourant.rbgHex}"></span>
              </span>
              <span class="colourant-name">{{machineColourant.colourant.colourantName}}</span>
              <span class="colourant-code">{{machineColourant.colourant.colourantCode}}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="minQuantity != initMinQuantity || warningQuantity != initWarningQuantity">
        <div class="card-footer">
          <button class="btn btn-primary" (click)="updateSettingMachine()">Update</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-container *ngIf="errorType != null">
  <pp-modal id="warning-colourants-machine-modal" class="modal warning-colourants-machine-modal">
    <div class="modal-content" [attr.type]="errorType" >
      <div class="modal-header">
        <h5 class="modal-title">{{errorType}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal('warning-colourants-machine-modal')">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        {{errorMessage}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal('warning-colourants-machine-modal')">Close</button>
      </div>
    </div>
  </pp-modal>
</ng-container>



<ng-container *ngIf="selectedMachineColourant != null">
  <pp-modal id="view-selected-colourant-machine-modal" class="modal machine-colourant-single-item">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Canister Refill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal('view-selected-colourant-machine-modal')">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <div class="machine-colorant-slider-group">
              <mat-slider class="machine-colourant-slider" [tickInterval]="maxQuantity / 20" [max]="maxQuantity" [min]="0" [step]="1" [(ngModel)]="updateAmount" [vertical]="true" [thumbLabel]="true" (change)="updateAmountBySlider()"></mat-slider>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <div class="machine-colourant-group">
              <div class="machine-background">
                <span class="machine-colourant-max-range" [ngStyle]="{'height': '100%'}"><span class="step-label">{{maxQuantity}}</span></span>
                <span class="machine-colourant-warning-range" [ngStyle]="{'height': (minQuantity / maxQuantity) * 100 + '%'}"><span class="step-label">{{minQuantity}}</span></span>
                <span class="machine-colourant-min-range" [ngStyle]="{'height': '0%'}"><span class="step-label">0</span></span>
              </div>
              <div class="machine-colourant-item">
                <span class="machine-colourant-bgr">
                  <span class="machine-colourant-update-range"  [ngStyle]="{'height': ((selectedMachineColourant.quantity + addedAmount) / maxQuantity) * 100 + '%', 'background-color': selectedMachineColourant.colourant.rbgHex, 'border': '1px solid #' + selectedMachineColourant.colourant.rbgHex}"></span>
                  <span class="machine-colourant-current-range" [ngStyle]="{'height': (selectedMachineColourant.quantity / maxQuantity) * 100 + '%', 'background-color': selectedMachineColourant.colourant.rbgHex, 'border': '1px solid #' + selectedMachineColourant.colourant.rbgHex}"></span>
                </span>
                <span class="colourant-name">{{selectedMachineColourant.colourant.colourantName}}</span>
                <span class="colourant-code">{{selectedMachineColourant.colourant.colourantCode}}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="machine-colourant-info form-detail">
              <div class="row form-group">
                <label class="col-md-4 label-control">Amount:</label>
                <div class="col-md-6">
                  <div class="input-group">
                    <!--<input type="number" [(ngModel)]="addedAmount" class="form-control" required="required" [ngModelOptions]="{standalone: true}" (change)="updateAddedAmount('amount')">-->
                    <input type="number" [(ngModel)]="addedAmount" class="form-control" required="required" [ngModelOptions]="{standalone: true}" (change)="updateAddedAmount('amount')">
                    <div class="input-group-append">
                      <span class="input-group-text">ml</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <label class="col-md-4 label-control">

                </label>
                <div class="col-md-8">
                  <button class="btn btn-dark" (click)="fillByPercent(100);">Fill to 100%</button>
                </div>
              </div>

              <div class="row form-group">
                <label class="col-md-4 label-control">Canister</label>
                <div class="col-md-8">
                  {{selectedMachineColourant.colourant.colourantId}}
                </div>
              </div>

              <div class="row form-group">
                <label class="col-md-4 label-control">Component</label>
                <div class="col-md-8">
                  {{selectedMachineColourant.colourant.colourantCode}}
                </div>
              </div>

              <div class="row form-group">
                <label class="col-md-4 label-control">Current</label>
                <div class="col-md-8">
                  {{selectedMachineColourant.quantity / 1000}} L
                </div>
              </div>

              <div class="row form-group">
                <label class="col-md-4 label-control">Maximum</label>
                <div class="col-md-8">
                  {{maxQuantity / 1000}} L
                </div>
              </div>

              <div class="row form-group">
                <label class="col-md-4 label-control">Minimum</label>
                <div class="col-md-8">
                  {{minQuantity / 1000}} L
                </div>
              </div>

              <div class="row form-group">
                <label class="col-md-4 label-control">Density</label>
                <div class="col-md-8">
                  {{selectedMachineColourant.colourant.density}} kg/L
                </div>
              </div>

              <div class="row form-group">
                View Usage >>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updateAndSaving('view-selected-colourant-machine-modal')">Update</button>
        <button type="button" class="btn btn-default" (click)="closeModal('view-selected-colourant-machine-modal')">Cancel</button>
      </div>
    </div>
  </pp-modal>
</ng-container>
