<div class="block-header">
  <h1>Machine Setting</h1>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Colorant Machine {{ machine.name + '(' + machine.code + ')'}}
      </div>

      <div class="card-body">
        <div class="machine-colourant-group">
          <div class="machine-background">
            <span class="machine-colourant-max-range" [ngStyle]="{'height': '100%'}"><span class="step-label">{{maxQuantity}}</span></span>
            <span class="machine-colourant-min-range" [ngStyle]="{'height': (minQuantity / maxQuantity) * 100 + '%'}"><span class="step-label">{{minQuantity}}</span></span>
          </div>

          <ng-container *ngFor="let machineColourant of listMachineColourant">
            <div class="machine-colourant-item" (click)="selectMachineColourant(machineColourant.colourant.colourantId)">
              <span *ngIf="selectedMachineColourant != null && selectedMachineColourant.colourant.colourantId == machineColourant.colourant.colourantId" class="selected-colourant-bgr"></span>
              <span class="machine-colourant-bgr">
                <span class="machine-colourant-current-range" [ngStyle]="{'height': (machineColourant.quantity / maxQuantity) * 100 + '%', 'background-color': machineColourant.colourant.rbgHex, 'border': '1px solid #' + machineColourant.colourant.rbgHex}"></span>
              </span>
              <span class="colourant-name">{{machineColourant.colourant.colourantName}}</span>
              <span class="colourant-code" [ngStyle]="{color: machineColourant.colourant.rbgHex}">{{machineColourant.colourant.colourantCode}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
