.select-color-field{
  width: 100%;
}

.select2.select2-container{
  min-width: 300px;
  width: 100%;
}


.pagenation-footer{
  float: right;
   span{
     display: inline-block;

     min-width: 50px;
     text-align: center;
     padding: 5px 10px;

     &.btn-action{
       border: 1px solid #ccc;
       cursor: pointer;
     }
   }
}


.vertical-separate-line{
  margin-left: 0.25em;
  margin-right: 0.25em;
}
