
<div [ngStyle]="{'display' : viewItem != null ? 'none': 'block'}">
  <app-list-formula (selectedFormula)="selectFormula($event)"></app-list-formula>
</div>

<ng-container *ngIf="viewItem">
  <app-viewformula [dbItem]="viewItem"></app-viewformula>
</ng-container>

<ng-container *ngIf="editItem">
  <app-viewformula [dbItem]="editItem"></app-viewformula>
</ng-container>

<ng-container *ngIf="editItem">
  <app-edit-formula [dbItem]="editItem"></app-edit-formula>
</ng-container>

<ng-container *ngIf="addItem">
  <app-edit-formula [dbItem]="addItem"></app-edit-formula>
</ng-container>

<ng-container *ngIf="dbItem">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary push-left" (click)="clearSelectedFormula()"><i class="fas fa-arrow-circle-left"></i> Back</button>
    </div>
  </div>
</ng-container>
