<div class="block-header">
  <h1>Base Manager</h1>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        List Base type
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
            <tr>
              <th mat-sort-header="baseCode">Base Code</th>
              <th mat-sort-header="baseName">Base Name</th>
            </tr>

            <tr *ngFor="let base of listBases">
              <td>{{base.baseCode}}</td>
              <td>{{base.baseName}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
