<div class="block-header">
  <h1>Dispense History</h1>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Dispense History
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <!--(matSortChange)="sortData($event)"-->
          <table class="table table-bordered">
            <tr>
              <th mat-sort-header="jobStatusId">#Id</th>
              <th mat-sort-header="type">Formula Name</th>
              <th mat-sort-header="status">Collection</th>
              <th mat-sort-header="process">Product</th>
              <th mat-sort-header="canSize">Can Size</th>
              <th mat-sort-header="stopTime">Status</th>
              <th mat-sort-header="createdDate">Created Time</th>
              <th mat-sort-header="finishedDate">Finished Time</th>
              <th>Action</th>
            </tr>

            <tr *ngFor="let item of listBackgroundTask">
              <td>{{item.machineFormulaProductBaseId}}</td>
              <td>{{item.formulaProductBase.formula.formulaName}}</td>
              <td>{{item.formulaProductBase.formula.collection.collectionName}}</td>
              <td>{{item.formulaProductBase.productBase.product.productName}}</td>
              <td>{{item.canSize}} L</td>
              <td>{{item.status}}</td>
              <td>{{item.createdDate | date: 'hh:mm:ss dd/MM/yyyy'}}</td>
              <td>{{item.finishedDate | date: 'hh:mm:ss dd/MM/yyyy'}}</td>
              <td><span (click)="viewCurrentTask(item.machineFormulaProductBaseId)"><i class="fas fa-info-circle"></i></span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

