<ng-container *ngIf="listFormulaColorant != null">
  <div class="table-responsive">
    <table class="table table-bordered" >
      <tr>
        <th style="width: 30%">Component</th>
        <th style="width: 20%">ml</th>
        <th style="width: 50%">Color
      </tr>

      <ng-container *ngFor="let colorantItem of listFormulaColorant">
        <tr *ngIf="colorantItem.quantity != null && colorantItem.quantity > 0">
          <td>{{colorantItem.colourant.colourantName}}</td>
          <td>{{roundNumber((colorantItem.quantity / baseOnCan) * canSize)}}</td>
          <td>
          <span class="color-bar" >
            <span class="color-select" [ngStyle]="{'background': colorantItem.colourant.rbgHex, 'width': (colorantItem.quantity / maxColorQuantity) * 100 + '%'}"></span>
          </span>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</ng-container>

