<div class="block-header">
  <h1>{{viewMode}} Formula</h1>
</div>

<div class="row" *ngIf="dbItem != null">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card filter-card">
      <div class="card-header">
        Standard Formula
      </div>

      <div class="card-body">
        <form class="form form-horizontal form-detail">
          <div class="form-body">
            <div class="form-group row">
              <label class="col-md-2 label-control">Formula Code</label>
              <div class="input-group input-group-sm col-md-4">
                <input type="text" [(ngModel)]="dbItem.formula.formulaCode" class="form-control" [ngModelOptions]="{standalone: true}" (change)="clearErrorField('formulaCode')">
                <ng-container *ngIf="errorValidation['formulaCode'] != null">
                  <span class="error-label">{{errorValidation['formulaCode']}}</span>
                </ng-container>
              </div>

              <label class="col-md-2 label-control">Formula name</label>
              <div class="input-group input-group-sm col-md-4">
                <input type="text" [(ngModel)]="dbItem.formula.formulaName" class="form-control" [ngModelOptions]="{standalone: true}" (change)="clearErrorField('formulaName')">
                <ng-container *ngIf="errorValidation['formulaName'] != null">
                  <span class="error-label">{{errorValidation['formulaName']}}</span>
                </ng-container>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 label-control">Collection</label>
              <div class="col-md-4">
                <select class="form-control form-control-sm select-sm" [(ngModel)]="dbItem.formula.collection.collectionId" [ngModelOptions]="{standalone: true}"  (change)="clearErrorField('collectionId')">
                  <option [ngValue]="undefined">Choose Collection</option>
                  <option *ngFor="let c of listCollections" [ngValue]="c.collectionId">{{c.collectionName}}</option>
                </select>

                <ng-container *ngIf="errorValidation['collectionId'] != null">
                  <span class="error-label">{{errorValidation['collectionId']}}</span>
                </ng-container>
              </div>

              <label class="col-md-2 label-control">Product</label>
              <div class="col-md-4">
                {{dbItem.productBase.product.productCode}} : {{dbItem.productBase.product.productName}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 label-control">Approximate color</label>
              <div class="col-md-4">
                <input [value]="dbItem.formula.approximateColor" [style.background]="dbItem.formula.approximateColor" [(colorPicker)]="dbItem.formula.approximateColor" (colorPickerChange)="clearErrorField('approximateColor')"/>

                <ng-container *ngIf="errorValidation['approximateColor'] != null">
                  <span class="error-label">{{errorValidation['approximateColor']}}</span>
                </ng-container>
              </div>

              <label class="col-md-2 label-control">Formula Date</label>
              <div class="col-md-4">
                {{dbItem.formula.createdDate | date : 'dd/MM/yyyy'}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 label-control">Substrate</label>
              <div class="col-md-4">
                <input type="text" [(ngModel)]="dbItem.formula.substrate" class="form-control" [ngModelOptions]="{standalone: true}">
              </div>

              <label class="col-md-2 label-control">Barcode</label>
              <div class="col-md-4">
                <!--{{dbItem.productBase.product}}-->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 label-control">Comment</label>
              <div class="col-md-9">
                <textarea [(ngModel)]="dbItem.formula.comment" [ngModelOptions]="{standalone: true}" [ngStyle]="{'width': '100%', 'min-height': (1.2 * 4) +'em'}">{{dbItem.formula.comment}}</textarea>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <div class="row">
          <label class="col-md-3 label-control"></label>
          <div class="col-md-9">
            <button class="btn btn-primary mr-3" (click)="saveOrUpdateFormula()">
              <span *ngIf="viewMode == 'Add'">Save</span>
              <span *ngIf="viewMode == 'Edit'">Update</span>
            </button>

            <button class="btn btn-default mr-3" (click)="goToFormulaPage()">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="dbItem != null && listColourants != null">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card filter-card">
      <div class="card-header">
        Formula Detail
      </div>

      <div class="card-body">
        <form class="form form-horizontal form-detail">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="card-subtitle col-md-12">
                  <h4>Contents</h4>
                </div>
                <div class="col-md-12">
                  <ng-container *ngIf="errorValidation['listColourants'] != null">
                    <span class="error-label">{{errorValidation['listColourants']}}</span>
                  </ng-container>
                  <app-table-colourants [listFormulaColorant]="listColourants" [canSize]="1" [baseOnCan]="dbItem.formula.baseOnCan" [maxColorQuantity]="getMaxColourantValue(listColourants)"></app-table-colourants>
                </div>

                <div class="col-md-12">
                  <br />
                  <br />
                </div>

                <div class="col-md-12">
                  <app-base-can [productBase]="dbItem.productBase" [canSize]="1" [collection]="dbItem.formula.collection"></app-base-can>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="card-subtitle col-md-12">
                  <h4>Components</h4>
                </div>

                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-4 label-control">Product</label>
                    <div class="col-md-8">
                      <select class="form-control form-control-sm select-sm" [(ngModel)]="selectedProductId" [ngModelOptions]="{standalone: true}" (change)="getListProductBase(); clearErrorField('productId')">
                        <option [ngValue]="undefined">Choose Product</option>
                        <option *ngFor="let c of listProducts" [ngValue]="c.productId">{{c.productCode}}</option>
                      </select>

                      <ng-container *ngIf="errorValidation['productId'] != null">
                        <span class="error-label">{{errorValidation['productId']}}</span>
                      </ng-container>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 label-control">Base</label>
                    <div class="col-md-8">
                      <select class="form-control form-control-sm select-sm" [(ngModel)]="selectedProductBaseId" [ngModelOptions]="{standalone: true}" (change)="updateCurrentProductBase(); clearErrorField('baseId')">
                        <option [ngValue]="undefined">Choose Base</option>
                        <option *ngFor="let pb of listProductBases" [ngValue]="pb.productBaseId">{{pb.base.baseName}} ({{pb.base.baseCode}})</option>
                      </select>

                      <ng-container *ngIf="errorValidation['baseId'] != null">
                        <span class="error-label">{{errorValidation['baseId']}}</span>
                      </ng-container>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-md-4 label-control">Base On Can</label>
                    <div class="col-md-8">
                      <input type="number" [(ngModel)]="dbItem.formula.baseOnCan" [ngModelOptions]="{standalone: true}"  (change)="updateCurrentProductBase(); clearErrorField('baseOnCan')"/>

                      <ng-container *ngIf="errorValidation['baseOnCan'] != null">
                        <span class="error-label">{{errorValidation['baseOnCan']}}</span>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="card-subtitle col-md-12">
                  <h4>Colourants</h4>
                </div>

                <ng-container *ngFor="let colour of listColourants">
                  <div class="col-md-6 colourant-group">
                    <div class="row">
                      <label class="col-md-8 label-control">
                        <span class="colour-bar" [ngStyle]="{'background': colour.colourant.rbgHex}">{{colour.colourant.colourantCode}} : {{colour.colourant.colourantName}}</span>
                      </label>
                      <div class="col-md-4">
                        <input type="number" [(ngModel)]="colour.quantity" class="form-control" [ngModelOptions]="{standalone: true}"  (change)="clearErrorField('listColourants')">
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<ng-container *ngIf="updateMessage != null">
  <pp-modal id="show-update-formula-model" class="modal show-update-formula-model">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{updateMessage.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal('show-update-formula-model')">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        {{updateMessage.message}}
      </div>

      <div class="modal-footer">
        <ng-container *ngIf="updateMessage.title == 'Error'">
          <button type="button" class="btn btn-default" (click)="closeModal('show-update-formula-model')">Close</button>
        </ng-container>

        <ng-container *ngIf="updateMessage.title != 'Error'">
          <button type="button" class="btn btn-primary" (click)="closeModal('show-update-formula-model')">OK</button>
        </ng-container>
      </div>
    </div>
  </pp-modal>
</ng-container>
