<div class="block-header">
  <h1>Colorant Manager</h1>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card filter-card">
      <div class="card-header">
        Filter
      </div>

      <div class="card-body">
        <form class="form form-horizontal form-detail">
          <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 label-control">Colourant Code</label>
              <div class="col-md-5">
                <input type="text" [(ngModel)]="code" class="form-control">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 label-control">Colourant Name</label>
              <div class="col-md-5">
                <input type="text" [(ngModel)]="name" class="form-control">
              </div>
            </div>

            <div class="form-group row text-center">
              <button class="btn btn-primary" (click)="filter()">Search</button>
              <button class="btn btn-default" (click)="resetFilter()">Reset</button>
            </div>
          </div>
        </form>
        <div class="form-group rng ow">

        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

          </div>
        </div>
      </div>

      <div class="card-footer">
        <!--<mat-card-actions>-->

        <!--</mat-card-actions>-->
      </div>
    </div>
  </div>
</div>


<div class="row" ng-init="testInput='value'">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        List Colorant
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
            <tr>
              <th mat-sort-header="code">Colourant Code</th>
              <th mat-sort-header="name">Colourant Name</th>
              <th mat-sort-header="density">Density</th>
              <th mat-sort-header="redV">Price Per Unit</th>
              <th mat-sort-header="greenV">Surcharge</th>
              <th mat-sort-header="blueV">Blue</th>
              <th mat-sort-header="color">kind</th>
            </tr>

            <tr *ngFor="let colorant of sortedData">
              <td>{{colorant.colourantCode}}</td>
              <td>{{colorant.colourantName}}</td>
              <td>{{colorant.density}}</td>
              <td>{{colorant.pricePerUnit}}</td>
              <td>{{colorant.surcharge}}</td>
              <td><span [ngStyle]="{'background': colorant.rbgHex, 'display': 'inline-block', 'width': '30px', 'height': '30px', 'border': '1px solid #333'}"></span></td>
              <td>{{colorant.kind}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
