<div class="block-header">
  <h1>Colorant Manager</h1>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card filter-card">
      <div class="card-header">
        Filter
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input placeholder="Code" [(ngModel)]="code">
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input matInput placeholder="Name" [(ngModel)]="name">
          </div>
        </div>
      </div>

      <div class="card-footer">
        <!--<mat-card-actions>-->
          <button mat-raised-button color="primary" (click)="filter()">Search</button>
          <button mat-button class="btn btn-default" (click)="resetFilter()">Reset</button>
        <!--</mat-card-actions>-->
      </div>
    </div>
  </div>
</div>


<div class="row" ng-init="testInput='value'">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        List Colorant
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
            <tr>
              <th mat-sort-header="code">Colourant Code</th>
              <th mat-sort-header="name">Colourant Name</th>
              <th mat-sort-header="density">Density</th>
              <th mat-sort-header="redV">Price Per Unit</th>
              <th mat-sort-header="greenV">Surcharge</th>
              <th mat-sort-header="blueV">Blue</th>
              <th mat-sort-header="color">kind</th>
            </tr>

            <tr *ngFor="let colorant of sortedData">
              <td>{{colorant.colourantCode}}</td>
              <td>{{colorant.colourantName}}</td>
              <td>{{colorant.density}}</td>
              <td>{{colorant.pricePerUnit}}</td>
              <td>{{colorant.surcharge}}</td>
              <td><span [ngStyle]="{'background': colorant.rbgHex, 'display': 'inline-block', 'width': '30px', 'height': '30px', 'border': '1px solid #333'}"></span></td>
              <td>{{colorant.kind}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
