<div class="task-content" *ngIf="dispenseStepTask != null">
  <div class="row">
    <div class="col-md-3">
      <div *ngIf="dispenseStepTask != null">
        {{dispenseStepTask.type}}

        <div class="component-pumping-info" *ngIf="'pumping' == dispenseStepTask.type">

          <table cellpadding="5" cellspacing="0">
            <tr>
              <td class="text-right">Component</td>
              <td colspan="100%" class="text-center" [style]="{'margin-left': '50px'}">

                  <span class="color-bar" >
                    <span class="color-select" [ngStyle]="{'background': dispenseStepTask.taskData.colorant.rbgHex, 'width': '20px', 'height': '150px'}"></span>
                  </span>
              </td>
            </tr>
            <tr>
              <td class="text-right"><span class="component-name">{{dispenseStepTask.taskData.colorant.colourantName}}</span></td>
            </tr>
            <tr>
              <td>Wanted</td>
            </tr>
            <tr>
              <td  class="text-right"><span class="component-name">{{dispenseStepTask.taskData.quantity}}</span> ml</td>
            </tr>
            <tr>
              <td>Dispensed</td>
            </tr>
            <tr>
              <td  class="text-right"><span class="component-name">0</span> ml</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div *ngIf="dispenseTask.childrenTask != null && dispenseTask.childrenTask.length > 0" >

        <div  *ngIf="'prepare' == dispenseStepTask.type" class="formula-animation preparing-animation text-center">
          <img src="../../../../assets/videos/Preparing.gif" width="250" height="250"/>
        </div>

        <div *ngIf="'pumping' == dispenseStepTask.type" class="formula-animation pumping-animation text-center">
          <img src="../../../../assets/videos/Pumping.gif" width="250" height="250"/>
        </div>

        <div *ngIf="'finished' == dispenseStepTask.type" class="text-center">
          FINISHED
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div *ngFor="let colorantItem of listColorantUsed" class="color-bar-group">
          <span class="color-bar" >
            <span class="color-select" [ngStyle]="{'background': colorantItem.colorant.rbgHex, 'width': (colorantItem.quantity / maxColorQuantity) * 100 + '%'}">
              <span class="color-name">{{colorantItem.colorant.name}}</span>
            </span>
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-5">
        <span class="base-can-empty" *ngIf="dispenseTask.taskData != null">
          <span class="base-can-background">
            <span class="base-can-volume"
                  [ngStyle]="{'background-color': dispenseTask.taskData.productBaseCan.productBase.rbgHex, 'height': dispenseTask.taskData.productBaseCan.percentage + '%'}">
              <span class="can-base-info">
                <span class="base-type">Base : {{dispenseTask.taskData.productBaseCan.productBase.base.baseCode}}</span>
                <span class="base-volume">{{dispenseTask.taskData.canSize + " " + dispenseTask.taskData.productBaseCan.unit}}</span>
                <span class="base-name">{{dispenseTask.taskData.formulaProductBase.formula.collection.collectionName}}</span>
              </span>
            </span>
          </span>
        </span>
    </div>

    <div class="col-md-4">

    </div>
  </div>
</div>
